.navbar {
	background-color: #D9411E;
	height: auto;
	
	border: none;
	border-radius: initial;
}

.navbar-header {
	padding-top: 20px;
}

.navbar {
    padding-left: 100px;
}

.navbar-brand img {
	width: 100px;
}

.navbar-brand {
	padding-top: 0;
	height: auto;
}

.navbar-default .navbar-text {
	color: #fff;
    font-size: 20px;
    font-weight: 100;
    padding-top: 15px;
    margin-bottom: 0;
}

button a, button a:HOVER {
	color: #333;
	text-decoration: none;
}

h1, h2, h3 {
	text-transform: uppercase;
    font-size: 20px;
    color: #777;
    font-weight: 200;
}

h2 a, h2 a:HOVER {
	color: #777;
	text-decoration: none;
}

.media-left a {
	color: #333;
}

.media-left i {
	padding-right: 10px;
}

.build-status {
	height: 17px;
    margin-right: 10px;
}

.summary ul {
	margin-top: 25px;
}

.label-solr {
	background-color: #D9411E;
}

footer {
	background-color: rgb(38, 33, 48);
	
	color: white;
    font-weight: 100;
}

footer h6 {
	font-weight: 200;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer a, footer a:HOVER {
	color: white;
}


@media (max-width: 630px) {
	.navbar {
		padding-left: 0;
	}
}

@media (max-width: 420px) {
	.navbar-default .navbar-text {
		width: 200px;
  		float: left;
  		margin-top: 0;
  		padding-top: 0;
	}

	.btn {
		padding: 6px;
	}
}