[submodule "tests/helper/bats-support"]
	path = tests/helper/bats-support
	url = https://github.com/ztombol/bats-support
[submodule "tests/helper/bats-assert"]
	path = tests/helper/bats-assert
	url = https://github.com/ztombol/bats-assert
