<div class="isotope-item col-md-6 mb-5 {{ component.category }}">
	<div class="card project-card">
		<div class="row no-gutters">
			<div class="col-lg-4 card-img-holder">
				{% for category in site.data.categories %}
				{% if category.name == component.category %}
				<i class="fa {{ category.image }} fa-2x media-object text-muted card-img"></i>
				{% endif %}
				{% endfor %}
			</div>

			<div class="col-lg-8">
				<div class="card-body">
					<h5 class="card-title">
						<a href="{{ component.url }}" class="theme-link"><code>{{ component.name }}</code></a>
						<p class="card-text">{{ component.description }}</p>
						<p class="card-text">
						<ul class="list-unstyled fa-ul">
							{% if releases.solr_package %}
							<li class="text-success"><i class="fa-li fa fa-cloud-download"></i>Package Manager
								Installation</li>
							{% elsif releases.releases[0] %}
							<li class="text-info"><i class="fa-li fa fa-floppy-o"></i>Manual installation (JAR)</li>
							{% else %}
							<li class="text-warning"><i class="fa-li fa fa-cogs"></i>Compile your own</li>
							{% endif %}
						</ul>

						{% if releases.releases[0] %}
						<ul class="list-unstyled fa-ul">
							<li>
								<strong>Recent Releases</strong>
							</li>
							{% for r in releases.releases limit: 3 %}
							<li>
								<i class="fa-li fa fa-tag"></i>
								{{ r.name }}
								<small class="text-muted">{{ r.published_at | date: "%B %-d, %Y" }}</small>
							</li>
							{% endfor %}
						</ul>
						{% endif %}</p>
						<p class="card-text">{% if repo.updated_at %}
							<small class="pull-right">
								last updated {{ repo.updated_at | date: "%B %-d, %Y" }}
							</small>
							{% endif %}

						<ul class="list-inline">
							<li>
								<i class="fa fa-file-text-o"></i>
								<a href="http://choosealicense.com/licenses/apache-2.0/">
									{{ component.license }}
								</a>
							</li>
							{% if repo.stargazers_count %}
							<li>
								<i class="fa fa-star-o"></i>
								{{ repo.stargazers_count }}
							</li>
							{% endif %}
							{% if repo.total_download_count %}
							<li>
								<i class="fa fa-arrow-circle-o-down"></i>
								{{ repo.total_download_count }}
							</li>
							{% endif %}
							{% if repo.statuses %}
							{% for status in repo.statuses limit:1 %}
							<li class="text-{{ status.state }}">
								<i class="fa fa-comment-o"></i>
								<a href="{{ status.target_url }}"
									class="text-{{ status.state }}">{{ status.description }}</a>
							</li>
							{% endfor %}
							{% endif %}
						</ul>
						</p>
				</div>
			</div>
		</div>
		<div class="link-mask">
			<a class="link-mask-link" href="project.html"></a>
			<div class="link-mask-text">
				<a class="btn btn-secondary" href="project.html">
					<i class="fas fa-eye mr-2"></i>View Case Study
				</a>
			</div>
		</div>
		<!--//link-mask-->
	</div>
	<!--//card-->
</div>
<!--//col-->
