    <div class="row">
      <div class="col-md-8 well">
	    <div class="media">
	      <div class="media-left">
	        <a href="{{ component.url }}">
				{% for category in site.data.categories %}
				{% if category.name == component.category %}
				<i class="fa {{ category.image }} fa-2x media-object text-muted"></i>
				{% endif %}
				{% endfor %}
	        </a>
	      </div>
		  <div class="media-body">
		    <h4 class="media-heading">
		      <a href="{{ component.url }}"><code>{{ component.name }}</code></a>
		      
		      
		      <small class="pull-right">
                {% if component.build %}
		          <img src="{{ component.build_status }}" class="build-status"/>
		        {% endif %}
		        {% for v in component.solr_versions %}
		          <span class="label label-solr">{{ v }}</span>
		        {% endfor %}
		      </small>
		    </h4>
	        <p>
              {{ component.description }}
		    </p>
		    <ul class="list-inline">
		      <li>
		        <i class="fa fa-file-text-o"></i>
		        <a href="http://choosealicense.com/licenses/apache-2.0/">
		          {{ component.license }}
		        </a>
			  </li>
			  <li>
				<i class="fa fa-calendar"></i>
				 Last updated {{ repo.updated_at | date: "%B %-d, %Y" }}
			  </li>
			  <li>
				<i class="fa fa-star"></i>{{ repo.stargazers_count }}
			  </li>
		    </ul>
		  </div>
		</div>
      </div>
      <div class="col-md-4 summary">
		<ul class="list-unstyled fa-ul">
		{% for version in descriptor.versions %}
			<li>
				<i class="fa-li fa fa-tag"></i>
				{{ version.version }}<br />
				{{ version.date | date: "%B %-d, %Y" }}
			</li>
		{% endfor %}
		</ul>
		
        {% if component.pros or component.cons or component.installation %}
        <ul class="list-unstyled fa-ul">
          {% for e in component.pros %}
          <li class="text-success"><i class="fa-li fa fa-star-o"></i>{{ e }}</li>
          {% endfor %}
          {% for e in component.cons %}
          <li class="text-warning"><i class="fa-li fa fa-bomb"></i>{{ e }}</li>
          {% endfor %}
          {% if component.installation %}
          <li class="text-info"><i class="fa-li fa fa-floppy-o"></i>{{ component.installation }}</li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  
