<div class="isotope-item col-md-6 mb-5 {{ package.category }}">
	<div class="card project-card">
		<div class="row no-gutters">
			<div class="card-body">
				<h5 class="card-title">
					<span class="col-lg-2 card-img-holder">
						{% for category in site.data.categories %}
						{% if category.name == package.category %}
						<i class="fa {{ category.image }} fa-2x media-object text-muted card-img"></i>
						{% endif %}
						{% endfor %}
					</span>
					<span class="col-lg-10">
						<a href="{{ package.url }}" class="theme-link"><code>{{ package.name }}</code></a>
					</span>
				</h5>
				<p class="card-text">{{ package.description }}</p>

				<ul class="list-inline small">
					<li class="float-left li-meta">
						<i class="fa fa-file-alt"></i>
						<a href="http://choosealicense.com/licenses/apache-2.0/">
							{{ package.license }}
						</a>
					</li>
					{% if details.stargazers_count %}
					<li class="float-left li-meta">
						<i class="fa fa-star"></i>
						{{ details.stargazers_count }}
					</li>
					{% endif %}
					{% if details.total_download_count %}
					<li class="float-left li-meta">
						<i class="fa fa-arrow-alt-circle-down"></i>
						{{ details.total_download_count }}
					</li>
					{% endif %}
				</ul>
				{% if details.updated_at %}

				<small class="float-right text-muted">
					last updated {{ details.updated_at | date: "%B %-d, %Y" }}
				</small>
				{% endif %}
			</div>
		</div>
		<div class="link-mask">
			<a class="link-mask-link" href="/packages/{{ package_name }}.html"></a>
			<div class="link-mask-text">
				<a class="btn btn-secondary" href="/packages/{{ package_name }}.html">
					<i class="fas fa-eye mr-2"></i>View details
				</a>
			</div>
		</div>
		<!--//link-mask-->
	</div>
	<!--//card-->
</div>
<!--//col-->