<!DOCTYPE HTML>
<html>
<head>
<title>{{ page.title }}</title>

<meta name="robots" content="index, follow" />
<meta name="keywords" content="apache, apache lucene, apache solr, solr, lucene
            search, information retrieval, spell checking, faceting, inverted index, open source
            plugins, extensions, query parser, response writer, analyzer">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
<link href="/css/bootstrap/3.3.4/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome/4.3.0/font-awesome.min.css" rel="stylesheet">
<link href="/css/pygments-github.css" rel="stylesheet" type="text/css" />
<link href="/css/searchbits.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap/3.3.4/bootstrap.min.js" type="text/javascript"></script>


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@shopping24">
<meta name="twitter:creator" content="@tboeghk">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
<meta name="twitter:image:src" content="{{ site.url }}/images/team/group/team_{{ author.team }}.jpg">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://lucene.apache.org/solr">
          <img alt="Solr Logo" src="/images/solr-logo.png">
        </a>
        <p class="navbar-text navbar-text-title">
          Solr Extension Directory
        </p>
      </div>
    </div>
  </nav>
  <div class="container body">


    <div class="row">
      <div class="col-md-8 text-center">
	    <div class="btn-group " role="group">
          <button type="button" class="btn btn-default">
            <i class="fa fa-scissors"></i>
            <a href="#queryparsers">Query Parsers</a>
          </button>
          <button type="button" class="btn btn-default">
            <i class="fa fa-cogs"></i>
            <a href="#analyzers">Analyzers</a>
          </button>
          <button type="button" class="btn btn-default">
            <i class="fa fa-ship"></i>
            <a href="#searchcomponents">SearchComponents</a>
          </button>
          <button type="button" class="btn btn-default">
            <i class="fa fa-file-text-o"></i>
            <a href="#other">Other</a>
          </button>
        </div>
        
        <hr />
      </div>
    </div>
    
    
<h2>
  <a name="queryparsers">Query Parsers</a>
</h2>
  {% for component in site.queryparsers %}
    {% include component.html %}
  {% endfor %}
  
<h2>
  <a name="analyzers">Analyzers</a>
</h2>
  {% for component in site.analyzers %}
    {% include component.html %}
  {% endfor %}

<h2>
  <a name="searchcomponents">SearchComponents</a>
</h2>
  {% for component in site.searchcomponents %}
    {% include component.html %}
  {% endfor %}

<h2>
  <a name="other">Other</a>
</h2>
  {% for component in site.other %}
    {% include component.html %}
  {% endfor %}

  <div class="row">
    <div class="col-md-8">
      {{ content }}
    </div>
  </div>
  
  </div>
  <footer>
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-md-offset-1">
            <h6>Contributors</h6>
            <ul class="list-unstyled">
              {% for c in site.github.organization_members %}
              <li>
                <a href="{{ c.html_url }}"><i class="fa fa-github contributor-github"></i>{{ c.login }}</a>
              </li>
              {% endfor %}
              {% for c in site.github.contributors %}
              <li>
                <a href="{{ c.html_url }}"><i class="fa fa-github contributor-github"></i>{{ c.login }}</a>
              </li>
              {% endfor %}
            </ul>
         </div>
         <div class="col-md-3">
            <h6>Contribute</h6>
            <ul class="list-unstyled">
              <li><a href="{{ site.github.repository_url }}/pulls">Add Component</a></li>
              <li><a href="{{ site.github.issues_url }}">Issues</a></li>
              <li><a href="https://github.com/orgs/solr-extensions/people">Team</a></li>
            </ul>
         </div>
      </div>
   </div>
  </footer>
  
</body>
</html>
