{% assign descriptor = site.data.releases[page.package_name] %}
{% assign details = site.data.details[page.package_name] %}
{% assign package = site.data.packages[page.package_name] %}

{% include header.html %}

<section class="cta-section theme-bg-light py-5">
  <div class="container single-col-max-width">
    <h2 class="heading text-center">Case Study: Project Name</h2>
    <div class="project-intro text-center">
      <p class="mb-0 lead">Project intro goes here. In the intro it's a good idea to answer a potential client's
        need/problem so it's more likely to land your next project or job.</p>
    </div>

  </div>
  <!--//container-->
</section>
<section class="project px-3 py-5 p-md-5">
  <div class="container">
    <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
      <img class="project-thumb mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block"
        src="/assets/images/project/project-3.jpg" alt="">
      <div class="media-body">
        <div class="client-info">
          <h3 class="client-name font-weight-bold mb-4">{{ package.name }}</h3>
          <ul class="client-meta list-unstyled">
            <li class="mb-2"><i class="fas fa-industry fa-fw mr-2"></i><strong>Industry:</strong> Tech</li>
            <li class="mb-2"><i class="fas fa-users fa-fw mr-2"></i><strong>Size:</strong> 100+</li>
            <li class="mb-2"><strong><i class="fas fa-link fa-fw mr-2"></i>Website:</strong> <a class="theme-link"
                href="#">clientsite.com</a></li>

          </ul>
          <div class="client-bio mb-4">{{ package.description }}</div>
          <h4 class="subheading mb-3">Installation:</h4>
          <ul class="list-unstyled fa-ul">
            {% if package.manifest %}
            <li class="text-success"><i class="fa-li fa fa-cloud-download"></i>Package Manager
              Installation</li>
            {% elsif descriptor.releases[0] %}
            <li class="text-info"><i class="fa-li fa fa-save"></i>Manual installation (JAR)</li>
            {% else %}
            <li class="text-warning"><i class="fa-li fa fa-cogs"></i>Compile your own</li>
            {% endif %}
          </ul>
          
          <!-- Release info -->
          {% if descriptor.releases[0] %}
          <h4 class="subheading mb-3">Recent Releases:</h4>
          <ul class="list-unstyled fa-ul">
            {% for r in descriptor.releases limit: 3 %}
            <li>
              <i class="fa-li fa fa-tag"></i>
              {{ r.name }}
              <small class="text-muted">{{ r.published_at | date: "%B %-d, %Y" }}</small>
            </li>
            {% endfor %}
          </ul>
          {% endif %}

          <!-- statuses -->
          {% if details.statuses %}
          <h4 class="subheading mb-3">Build status:</h4>
					{% for status in details.statuses limit:1 %}
					<li class="text-{{ status.state }}">
						<i class="fa fa-comment"></i>
						<a href="{{ status.target_url }}" class="text-{{ status.state }}">{{ status.description }}</a>
					</li>
					{% endfor %}
					{% endif %}
        </div>
      </div>
      <!--//media-body-->
    </div>
    <!--//project-meta-->
    <div class="project-sections py-5">
      <div class="project-section mb-5">
        <h3 class="project-section-title mb-3">Project Overview</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
          dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>
      </div>
      <!--//project-section-->

      <div class="project-section mb-5">
        <h3 class="project-section-title">The Challenge</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
          dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>

      </div>
      <!--//project-section-->

      <div class="project-section mb-5">
        <h3 class="project-section-title">The Approach &amp; Solution</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
          dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>
        <div class="row mt-5">
          <div class="col-12 col-lg-6 mb-5">
            <img class="img-fluid rounded" src="/assets/images/project/project-figure-1.jpg" alt="image">
          </div>
          <div class="col-12 col-lg-6 mb-5">
            <img class="img-fluid rounded" src="/assets/images/project/project-figure-2.jpg" alt="image">
          </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
          dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>

      </div>
      <!--//project-section-->

      <div class="project-section mb-5">
        <h3 class="project-section-title mb-3">The Results</h3>

        <div class="metrics mb-4">
          <div class="row">
            <div class="metric col-6 col-xl-3 mb-3">
              <div class="inner p-3 theme-bg-light">
                <div class="metric-name">Efficiency</div>
                <div class="metric-data mb-2">20% <span class="unit">up</span></div>
                <div class="metric-desc">Metric description lorem ipsum dolor sit amet.</div>
              </div>
            </div>
            <!--//metric-->
            <div class="metric col-6 col-xl-3 mb-3">
              <div class="inner p-3 theme-bg-light">
                <div class="metric-name">Customer Satisfaction</div>
                <div class="metric-data mb-2">14% <span class="unit">up</span></div>
                <div class="metric-desc">Metric description lorem ipsum dolor sit amet.</div>
              </div>
            </div>
            <!--//metric-->
            <div class="metric col-6 col-xl-3 mb-3">
              <div class="inner p-3 theme-bg-light">
                <div class="metric-name">Sales Generated</div>
                <div class="metric-data mb-2">$130K</div>
                <div class="metric-desc">Metric description lorem ipsum dolor sit amet.</div>
              </div>
            </div>
            <!--//metric-->
            <div class="metric col-6 col-xl-3 mb-3">
              <div class="inner p-3 theme-bg-light">
                <div class="metric-name">Overall Cost</div>
                <div class="metric-data mb-2">20% <span class="unit">down</span></div>
                <div class="metric-desc">Metric description lorem ipsum dolor sit amet.</div>
              </div>
            </div>
            <!--//metric-->
          </div>
          <!--//row-->
        </div>
        <!--//metrics-->

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
          dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>

      </div>
      <!--//project-section-->

      <div class="project-section mb-5">
        <h3 class="project-section-title mb-3">Client Testimonial</h3>
      </div>
      <!--//project-section-->
      <div class="client-quote">
        <div class="quote-holder">
          <blockquote class="quote-content">
            Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
          </blockquote>
          <i class="fas fa-quote-left"></i>
        </div>
        <!--//quote-holder-->
        <div class="source-holder">
          <div class="source-profile">
            <img src="/assets/images/clients/profile-4.png" alt="image" />
          </div>
          <div class="meta">
            <div class="name">James Lee</div>
            <div class="info">Product Manager, Amazon</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}